/* View Page Style */
.view-box-container {
    animation: fadeInBend 0.5s ease-out; /* Animation applied */
}

@keyframes fadeInBend {
    0% { 
        opacity: 0; /* Start hidden */
        transform: rotateX(-90deg) translateY(-40px); /* Initial bend */
    }
    100% { 
        opacity: 1; /* End visible */
        transform: rotateX(0deg) translateY(0); /* Straightened */
    }
}
